<mt:setvarblock name="html_head" prepend="1">
<style type="text/css">
/* Calendar -------------------------------------------------------------------------------------- */
.calendar {
    background:white none repeat scroll 0%;
    border:1px solid #999;
    padding:6px;
    position:absolute;
    width:160px;
}
.calendar-content {
    border:1px solid #33789c;
}
.calendar-month {
    background-color:#33789c;
    padding:2px 8px;
    text-align:center;
}
.calendar-month a {
    color:#fff;
    font-size:12px;
    line-height: 0.8;
    text-decoration:none;
}
.calendar-month h1 {
    color:#fff;
    font-size:10px;
    font-weight:bold;
    margin:0pt;
}
.calendar-week, .calendar-days {
    margin:2px;
}
.calendar-week li, .calendar-days li {
    -moz-user-select:none;
    background-color:#f3f6f9;
    border:1px solid #fff;
    color:#333;
    float:left;
    font-size:11px;
    text-align:center;
    width:20px;
}
.calendar-days li {
    background-color:#fff;
}
.calendar-days li.today {
    border-color:#33789c;
}
.calendar-days li.future {
    color:#ccc;
    cursor:default;
    padding:1px 0pt;
}
.calendar-days li.selected {
    border-color:#000;
}
.calendar-days li a {
    color:#333;
    display:block;
    padding:1px;
    text-decoration:none;
    width:18px;
}
.calendar-days li a:focus {
    outline-color:invert;
    outline-style:none;
    outline-width:medium;
}
.calendar-ok-link {
    width: 100%;
    display: block;
    margin-top: 3px;
    text-align: center;
}
.pkg{display: block;}
.pkg[class]{height: auto;}
.left{float: left; display: inline;}
.right{float: right;}
</style>
<script type="text/javascript">
    /* <![CDATA[ */

    Template.templates.calendar = '<mt:section encode_js="1">
    <div class="calendar-month">
        <a href="javascript: void 0;" class="left command-prev-month">&laquo;</a>
        [# if ( cal.nextMonthAllowed() ) { #]
        <a href="javascript: void 0;" class="right command-next-month">&raquo;</a>
        [# } #]
        <h1>[#|h trans("[_1:calMonth] [_2:calYear]", cal.getLocaleMonthShortString(), cal.year() ) #]</h1>
    </div>
    <ul class="calendar-week">
        [# for ( var i = cal.weekStart(); i <= ( 6 + cal.weekStart() ); i++ ) { #]
            <li>[#|h cal.getLocaleDayShortString( ( cal.weekStart() && i == ( 6 + cal.weekStart() ) ? 0 : i ) ) #]</li>
        [# } #]
    </ul>
    <ul class="calendar-days">
        [#
            var daysInMonth = cal.getDaysInMonth();
            var monthStart = ( cal.getDOWFromDay( 1 ) - cal.weekStart() );
            if ( monthStart == -1 )
                monthStart = 6;
        #]
        [# for ( var i = 0; i < monthStart; i++ ) { #]
            <li>&nbsp;</li>
        [# } #]
        [# for ( var day = 1; day <= daysInMonth; day++ ) { #]
            [# var isFuture = cal.isFuture( day ) ? true : false; #]
            <li class="day-[#= day #][# if ( cal.date() == day ) { #] selected[# } #][# if ( cal.isToday( day ) ) { #] today[# } #][# 
                if ( isFuture ) { #] future[# } #]"
             >[# if ( !( isFuture && cal.disallowFuture ) ) { #]<a href="javascript: void 0;" class="command-set-day-[#= day #]">[#= day #]</a>[# } else { #][#= day #][# } #]</li>
        [# } #]
        [# for ( var i = ( cal.getDOWFromDay( daysInMonth ) - cal.weekStart() ); i < 6; i++ ) {
            if ( i == -i ) 
                break; #]
            <li>&nbsp;</li>
        [# } #]
    </ul>
    </mt:section>';

    Date.strings = {
        
        localeWeekStart: <__trans phrase="_LOCALE_WEEK_START">,
        
        localeWeekdays: [
            "<__trans phrase="Sunday">",
            "<__trans phrase="Monday">",
            "<__trans phrase="Tuesday">",
            "<__trans phrase="Wednesday">",
            "<__trans phrase="Thursday">",
            "<__trans phrase="Friday">",
            "<__trans phrase="Saturday">"
        ],
    
        localeShortWeekdays: "<__trans phrase="S|M|T|W|T|F|S">".split( "|" ),
    
        localeMonths: [
            "<__trans phrase="January">",
            "<__trans phrase="Febuary">",
            "<__trans phrase="March">",
            "<__trans phrase="April">",
            "<__trans phrase="May">",
            "<__trans phrase="June">",
            "<__trans phrase="July">",
            "<__trans phrase="August">",
            "<__trans phrase="September">",
            "<__trans phrase="October">",
            "<__trans phrase="November">",
            "<__trans phrase="December">"
        ],
    
        localeShortMonths: [
            "<__trans phrase="Jan">",
            "<__trans phrase="Feb">",
            "<__trans phrase="Mar">",
            "<__trans phrase="Apr">",
            "<__trans phrase="_SHORT_MAY">",
            "<__trans phrase="Jun">",
            "<__trans phrase="Jul">",
            "<__trans phrase="Aug">",
            "<__trans phrase="Sep">",
            "<__trans phrase="Oct">",
            "<__trans phrase="Nov">",
            "<__trans phrase="Dec">"
        ]
    };

/* ]]> */
</script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Calendar.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>
</mt:setvarblock>
<mt:setvarblock name="html_body">
<div id="calendar" class="calendar autolayout-flyout-smart hidden">
    <div id="calendar-content" class="calendar-content pkg"></div>
    <div class="calendar-footer">
        <input type="hidden" id="calendar-time-input" name="ignore-me-time-input" value="00:00:00" />
        <a class="calendar-ok-link" href="javascript:void(0);" mt:command="save"><__trans phrase="OK"></a>
    </div>
</div>
</mt:setvarblock>
